.ink-b {
    .ink-b-js {
        z-index: 4;
        flex-direction: column;

        .ink-b-js-text {
            position: absolute;
            width: 300px;
            border: 5px solid white;
            padding: 10px;
            margin-top: -25px;

            h2 {
                text-transform: uppercase;
                font-family: "Raleway";
                font-size: 50px;
                color: white;
                font-weight: normal !important;
                border-bottom: 1px solid white;
                margin: 0;
    
                &::after {
                    content: "My Project";
                    position: absolute;
                    transform: rotate(90deg);
                    color: #fff;
                    font-weight: 900;
                    font-size: 22px;
                    right: -22%;
                    top: 4.1%;
                    letter-spacing: 3px;
                }
            }
    
            p {
                font-family: "handwrite";
                font-size: 28px;
                color: #fff;
                text-align: justify;
                transition: all 1s ease;
                z-index: 10;
                margin: 0;
                padding: 5px;
                line-height: 40px;
                margin-bottom: 35px;
            }

            a {
                position: absolute;
                text-decoration: none;
                right: 2%;
                bottom: 2%;
                background: transparent;
                font-family: "Raleway";
                text-transform: uppercase;
                color: #e7eeff;
                border: none;
                border-bottom: 2px solid #e7eeff;
                border-left: 2px solid #e7eeff;
                padding: 5px;
                letter-spacing: 5px;
                transition: all .5s ease;
                

                &:hover {
                    letter-spacing: 2px;
                }
            }
        }
    }
}

