.main-ink {
  background-color: #000000;
  transition: background-color 1s ease;
  margin: 0;
  .stars {
    .twinkling {
      opacity: 1;
      transition: all 1s ease 1s;
    }
  }
}

.main-ink.b {
  background-color: #93a7dc !important;
  transition: background-color .3s ease;
  background: none;
  .stars {
    .twinkling {
      opacity: 0;
      transition: all 0s ease 0s;
    }
  }
}

.main-ink.c {
  background-color: #d8d8d8 !important;
  transition: background-color 1s ease;
}

.main-ink.d {
  background-color: black !important;
  transition: background-color 1s ease;
  .stars {
    opacity: 1;
  }
}

.main-ink.e {
  background-color: black !important;
  transition: background-color 1s ease;
}

.main-ink.f {
  background-color:  #111111!important;
  transition: background-color 1s ease;
}


.stars {
  z-index: 10;
  
  
    .stars-background {
      background: url("../icon/stars.png") repeat top center;
      background-size: contain;
      z-index: 0;
    
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
      -moz-animation:move-stars-back 800s linear infinite;
      -ms-animation:move-stars-back 800s linear infinite;
      -o-animation:move-stars-back 800s linear infinite;
      -webkit-animation:move-stars-back 800s linear infinite;
      animation:move-stars-back 800s linear infinite;
    }
    
    .twinkling{
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      width:100%;
      height:100%;
      display:block;
      
      background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
      z-index:1;
      
      -moz-animation:move-twink-back 500s linear infinite;
      -ms-animation:move-twink-back 500s linear infinite;
      -o-animation:move-twink-back 500s linear infinite;
      -webkit-animation:move-twink-back 500s linear infinite;
      animation:move-twink-back 500s linear infinite;
      }
  }