.ink-c {
  .ink-c-js {
    z-index: 4;
    position: fixed;
    transform: scale(0);


    .ink-c-js-text {
      @include ColumnCenterCenter;

      position: absolute;
      padding: 10px;
      margin-top: -25px;
      height: 526px;

      span {
        display: block;
        text-align: center;
      }

      span:nth-child(1) {
        font-size: 220px;
        line-height: 110px;
      }

      span:nth-child(2) {
        font-size: 86px;
      }

      span:nth-child(3) {
        font-size: 740px;
        line-height: 130px;
      }

      span:nth-child(4) {
        width: 100%;
        text-align: right;
        font-size: 30px;
        color: white;
      }

      span:nth-child(5) {
        width: 100%;
        text-align: right;
        font-size: 30px;
        color: white;
      }

      span:nth-child(6) {
        width: 100%;
        text-align: right;
        font-size: 30px;
        color: white;
      }

      a {
        @include RowCenterCenter;

          font-size: 25px;
          font-weight: bold;
          color: black;
          text-transform: uppercase;
          text-decoration: none;
          border: 2px solid black;
          border-radius: 50%;
          width: 40px;
          height: 40px;
      }
    }

    .ink-c-js-button {
      position: absolute;
      text-transform: uppercase;
      bottom: 15px;
      text-decoration: none;
      border: 2px solid black;
      padding: 10px;
      color: black;
      letter-spacing: 2px;
      transition: letter-spacing .5s ease;
      font-family: "Raleway",sans-serif;

      &:hover {
        letter-spacing: 0px;
      }
    }
  }
}