.ink-d {
  height: 100vh !important;

  // SCROLLMAGIC
  .ink-d-js.d {
    transform: scale(1) translate(0vw) !important;
    position: fixed;
    opacity: 1;
  }

  .ink-d-js.dOut {
    position: fixed;
    transform: translate(100%, -20%) !important;
  }

  // FIN SCROLLMAGIC

  .ink-d-js {
    position: fixed;
    top: 0;
    z-index: 5;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    color: white;

    #myCanvasJupiter {
      position: absolute;
      transform: translate3d(0px, -19px, 0px) rotate(180deg);      
      width: 350px;
      height: 350px;
    }

    .ink-d-js-text {
      text-align: justify;
      text-align-last: center;
      margin-bottom: 0;
    }

    .ink-d-js-item {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      border: 1px solid rgb(255, 206, 114);
      z-index: 10;
      width: 310px;
      height: 90vh;

      .ink-d-js-item-img {
        width: 73px;
        display: block;
        margin-right: auto;
        margin-left: auto;
      }

      .ink-d-js-item-box {
        padding: 15px;
        transform: translate3d(0px, -30px, 0px);

        .ink-d-js-item-box-title {
          text-transform: uppercase;
          text-align: center;
          margin: 0;
          font-size: 74px;
          font-weight: 100;
          line-height: 40px;
        }
  
        .ink-d-js-item-box-text {
          width: 262px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0;
          line-height: 30px;
          font-size: smaller;
        }
      }

      .ink-d-js-item-play {
        width: 40px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
      }
    }

    .ink-d-js-link {
      font-size: 35px;
      position: absolute;
      transform: translate3d(90px, -100px, 0px);
      border: 2px solid rgb(255, 206, 114);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      text-decoration: none;
      color: white;
      z-index: 100;
    }
    

    svg {
      height: 30vh;
      /* position: absolute; */
      /* top: 0; */
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .depthmap,
    .deep-depthmap {
      mix-blend-mode: soft-light;
    }
    
    .shadows {
      mix-blend-mode: multiply;
      opacity: .4;
    }
    
    .highlight {
      mix-blend-mode: screen;
    }
    
    .weather {
      opacity: 0.5;
      mix-blend-mode: overlay;
    }
    
    .planet {
      transform: rotate(-5deg);
      transform-origin: 50% 50%;
    }
    .planet image {
      -webkit-animation: rotation 150s linear infinite;
              animation: rotation 150s linear infinite;
              opacity: .9;
    }
    .planet .weather {
      -webkit-animation: rotation 70s linear infinite;
              animation: rotation 70s linear infinite;
              opacity: .5;
    }
    
    @-webkit-keyframes rotation {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-1000px, 0);
      }
    }
    
    @keyframes rotation {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-1000px, 0);
      }
    }
  
  }
}

@media screen and (max-width: 650px) {
  .ink-d-js-item-text {
    font-size: 12px;
  }

  .ink-d-js-item-title {
    font-size: 120px !important;
    line-height: 80px !important;
  }
}

@media screen and (max-width: 560px) {
  .ink-d-js-item-text {
    font-size: 11px;
  }

  .ink-d-js-item-title {
    font-size: 90px !important;
    line-height: 80px !important;
  }
}