.ink-d {
  height: 100vh !important;

  // SCROLLMAGIC
  .ink-d-js.d {
    transform: scale(1) translate(0vw) !important;
    position: fixed;
    opacity: 1;
  }

  .ink-d-js.dOut {
    position: fixed;
    transform: translate(100%, -20%) !important;
  }

  // FIN SCROLLMAGIC

  .ink-d-js {
    position: fixed;
    top: 0;
    z-index: 5;
    flex-direction: column;

        font-family: "Raleway", sans-serif;    
        color: white;
        font-size: 20px;
  }
}