.ink-e {
  height: 100vh !important;

  .ink-e-js {
    top: 0;
    position: fixed;
    z-index: 5;
    color: white;
    font-family: "Raleway", sans-serif;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
    .ink-e-js-text {
      text-align: justify;
      text-align-last: center;
      margin-bottom: 0;
    }

    .ink-e-js-item {
      border: 1px solid rgb(219, 29, 29);
      padding: 20px;
      z-index: 10;
      width: 325px;
      height: 325px;
      transform: translate3d(0px, -40px, 0px);

      .ink-e-js-item-img {
        width: 73px;
        display: block;
        margin-right: auto;
        margin-left: auto;
      }

      .ink-e-js-item-title {
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        font-size: 118px;
        font-weight: 100;
        line-height: 110px;
      }

      .ink-e-js-item-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        line-height: 20px;
        text-align: justify;
        padding: 0px 0px;
        font-size: small;
        margin-bottom: 0;
      }

      .ink-e-js-item-play {
        width: 40px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
      }
    } 


    svg {
      height: 300px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .depthmap,
    .deep-depthmap {
      mix-blend-mode: soft-light;
      // opacity: .6
    }

    .shadows {
      mix-blend-mode: multiply
    }

    .highlight {
      mix-blend-mode: screen
    }

    .weather {
      opacity: .2;
      mix-blend-mode: overlay
    }

    .planet {
      transform: rotate(-5deg);
      transform-origin: 50% 50%;

      image {
        animation: rotation 90s linear infinite
      }

      .weather {
        animation: rotation 90s linear infinite
      }
    }

    @keyframes rotation {
      0% {
        transform: translate(0, 0)
      }

      100% {
        transform: translate(-1000px, 0)
      }
    }
  }
}