.ink-e {
  height: 100vh !important;

  .ink-e-js {
    top: 0;
    position: fixed;
    z-index: 5;
    
    @include ColumnBetweenCenter;
    
    font-family: "Raleway", sans-serif;    
    color: white;
    font-size: 20px;
  }
}