.ink-f {
    z-index: 6;
    height: 100vh !important;

    .ink-f-js {
        top: 0;
        z-index: 2;
        position: fixed;
        background-color: coral;

        font-family: "Raleway", sans-serif;    
        color: white;
        font-size: 20px;
    }
}
