.loader{

	
  height: 100vh;
  width: 100vw;
  position: fixed;
  font-family:'Raleway', sans-serif;
  background: #161616;
	z-index: 999;	
	p {
    color: white;
    text-align: center;
    top: 60vh;
    position: absolute;
    font-size: 3vw;
		left: 50vw;
		font-family: "Raleway";
	}
}

.loader-4 {
	@include RowCenterCenter;
  
	width: 100vw;
	height: 100vh;
}

/* Loader 4 */
.loader-4-img {

  width: 45vw;
	-webkit-animation: loader-4-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-4-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-4-1 {
	0%   { -webkit-transform: scale(1); opacity: 1; }
	50%  { -webkit-transform: scale(0.5); opacity: 0.5; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}
@keyframes loader-4-1 {
	0%   { transform: scale(1); opacity: 1; }
	50%  { transform: scale(0.5); opacity: 0.5; }
	100% { transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 580px) {
  .loader-4-img {
    width: 75vw;
  }
}