.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    position: fixed;
    width: 70vw;
    height: 100vh;
    z-index: 1000;
    transform: translateX(calc(100vw - 70px));
    transition: transform 0.5s ease-in-out;
    z-index: 9999999;

    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(174,188,223,1) 100%);

    &.open {
      transform: translateX(30vw);

      .navigation-sidebar-button {
        transform:rotate(0deg) !important;
        color: #0095ff !important;
      }
    }
    
    .navigation-sidebar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        position: absolute;

        .navigation-sidebar-button {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            position: absolute;
            transform:rotate(90deg);
            transform-origin: center;
            
            height: 70px;
            width: 70px;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;            
            left: 0px;

            transition: all .5s ease;

            &:hover {
                transform:rotate(0deg);
                cursor: pointer;
                color: #0095ff;
            }
        }    
    }


    .navigation-span-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        height: 80%;
        width: 80%;

        margin-left: auto;
        margin-right: auto;
        padding: 0;

        .navigation-span-list-item {
            height: 100%;
            position: relative;
            overflow: hidden;

            border-style: solid;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: linear-gradient(to top, #0e2974, #48a7ff);


            &:hover {
                cursor: pointer;
            }

            .navigation-span-list-item-redirect {
                font-family: 'Raleway', sans-serif;
                color: #000000;
                position: absolute;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
            }

            .navigation-span-list-item-texte {
                font-family: 'Raleway', sans-serif;
                margin: 0px 10px 10px 50%;
                filter: drop-shadow(10px 10px 3px #00000070);
                font-weight: normal;
                text-align: justify;
                font-size: 12px;
                position: absolute;
                bottom: 0;
                right: 0;
                color: rgba(255, 255, 255, 0);
                transition: all .3s ease;
                padding: 10px;

                &::before,
                &::after {
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;

                    background: linear-gradient(90deg, #cd00ff 20%, #0095ff 100%);
                    content: '';
                    position: absolute;
                    z-index: -1;

                    height: 100%;
                    right: 0;
                    bottom: 0;
                    width: 0;
                }
            }

            &:nth-child(4),&:nth-child(5) {
                .navigation-span-list-item-texte {
                    margin: 0px 10px 10px 20%;
                }
            }

            &:hover {
                .navigation-span-list-item-titre {
                    background: none;
                    border-radius: 5px;
                    display: block;
                    color: white;

                    &:after {
                        width: 100%;
                        transition-delay: .3s;
                    }
                }

                .navigation-span-list-item-texte {
                    font-family: 'Raleway', sans-serif;
                    color: rgb(255, 255, 255);
                    transition-delay: .3s;

                    &:after {
                        width: 100%;
                    }
                }
            }


            .navigation-span-list-item-titre {
                font-family: 'Raleway', sans-serif;
                text-align: left;
                font-size: 40px;
                transition: all 1s ease .5s;
                font-weight: 100;
                padding: 10px;
                margin: 10px 0px 0px 10px;
                color: black;
                position: relative;
                width: fit-content;
                z-index: 10;
                filter: drop-shadow(10px 10px 3px #00000070);

                &::before,
                &::after {
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;

                    background: linear-gradient(92deg, #2d1696 0%, #5cc3ff 100%);
                    content: '';
                    position: absolute;
                    z-index: -1;

                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 0;
                }
            }

            .navigation-span-list-item-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: center;
                align-items: center;

                visibility: hidden;
                opacity: 0;
                transition: all 1s ease;
                width: 50%;
                margin-right: auto;
                margin-left: auto;
                margin-top: 5%;

                list-style: none;
            }

            .navigation-span-list-item-link {
                display: none;
            }

            &:nth-child(1) {
                grid-area: 1 / 1 / 3 / 4;
            }

            &:nth-child(2) {
                grid-area: 1 / 4 / 5 / 7;
            }

            &:nth-child(3) {
                grid-area: 3 / 1 / 5 / 4;
            }

            &:nth-child(4) {
                grid-area: 5 / 1 / 7 / 3;
            }

            &:nth-child(5) {
                grid-area: 5 / 3 / 7 / 5;
            }

            &:nth-child(6) {
                grid-area: 5 / 5 / 7 / 7;
            }

            &:nth-child(7) {
                grid-area: 7 / 5 / 10 / 9;
            }
        }
    }

    @media screen and (max-width: 996px) {
        .navigation-span-list {
            display: grid !important;
            grid-template-columns: repeat(6, 1fr) !important;
            grid-template-rows: 1fr !important;
            grid-column-gap: 20px !important;
            grid-row-gap: 20px !important;
            width: max-content !important;
            padding-right: 50px !important;
        }

        .navigation-span-list-item {
            width: 300px !important;
        }

        .navigation-span-list-item:nth-child(1) {
            grid-area: 1 / 1 / 2 / 2 !important;
        }

        .navigation-span-list-item:nth-child(2) {
            grid-area: 1 / 2 / 2 / 3 !important;
        }

        .navigation-span-list-item:nth-child(3) {
            grid-area: 1 / 3 / 2 / 4 !important;
        }

        .navigation-span-list-item:nth-child(4) {
            grid-area: 1 / 4 / 2 / 5 !important;
        }

        .navigation-span-list-item:nth-child(5) {
            grid-area: 1 / 5 / 2 / 6 !important;
        }

        .navigation-span-list-item:nth-child(6) {
            grid-area: 1 / 6 / 2 / 7 !important;
        }
    }
}
