  /* Set Scrollbar Width */
	::-webkit-scrollbar {
		width: 8px;
	}
	/* Set Scrollbar Track */
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
	::-webkit-scrollbar-track-piece {

	}
	/* Set Scrollbar Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 0px;
		border-radius: 0px;
		background: rgba(#ffffff, 0.8);
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	}
	::-webkit-scrollbar-corner {

	}
	::-webkit-resizer {

	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(#e89b4d, 0.4);
  }
 html{
	overflow-y: scroll;
	scrollbar-color: rgb(0, 0, 0) #ffdb00;
	scrollbar-width: thin;
 }
  
  