.ink-d {
    height: 100vh !important;

    // SCROLLMAGIC
    .ink-d-js.d {
        transform: scale(1) translate(0vw) !important;
        position: fixed;
        opacity: 1;
    }

    .ink-d-js.dOut {
        position: fixed;
        transform: translate(100%, -20%) !important;
    }
    // FIN SCROLLMAGIC

    .ink-d-js {
        position: fixed;
        top: 0;
        z-index: 5;
        flex-direction: column;
        font-family: "Raleway",sans-serif;
        color: white;

        .ink-d-js-text {
            text-align: justify;
            text-align-last: center;
            margin-bottom: 0;
        }

        .ink-d-js-item {

            z-index: 10;

            .ink-d-js-item-img {
                width: 73px;
                display: block;
                margin-right: auto;
                margin-left: auto;
            }

            .ink-d-js-item-title {
                text-transform: uppercase;
                text-align: center;
                margin: 0;
                font-size: 160px;
                font-weight: 100;
                line-height: 110px;
            }

            .ink-d-js-item-text {
                width: 800px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                margin-top: 0;
                line-height: 40px;
            }

            .ink-d-js-item-play {
                width: 40px;
                display: block;
                margin-right: auto;
                margin-left: auto;
                cursor: pointer;
            }
        }
    }
}
