.ink-d {
    height: 100vh !important;

    // SCROLLMAGIC
    .ink-d-js.d {
        transform: scale(1) translate(0vw) !important;
        position: fixed;
        opacity: 1;
    }

    .ink-d-js.dOut {
        position: fixed;
        transform: translate(100%, -20%) !important;
    }
    // FIN SCROLLMAGIC

    .ink-d-js {
        position: fixed;
        top: 0;
        z-index: 5;
        flex-direction: column;
        font-family: "Raleway",sans-serif;
        color: white;

        .ink-d-js-text {
            text-align: justify;
            text-align-last: center;
            margin-bottom: 0;
        }

        .ink-d-js-item {

            z-index: 10;

            .ink-d-js-item-img {
                width: 73px;
                display: block;
                margin-right: auto;
                margin-left: auto;
            }

            .ink-d-js-item-title {
                text-transform: uppercase;
                text-align: center;
                margin: 0;
                font-size: 160px;
                font-weight: 100;
                line-height: 110px;
            }

            .ink-d-js-item-text {
                width: 800px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                margin-top: 0;
                line-height: 40px;
            }

            .ink-d-js-item-play {
                width: 40px;
                display: block;
                margin-right: auto;
                margin-left: auto;
                cursor: pointer;
            }
        }

        /* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */

        @keyframes move-twink-back {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -10000px 5000px;
            }
        }
        @-webkit-keyframes move-twink-back {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -10000px 5000px;
            }
        }
        @-moz-keyframes move-twink-back {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -10000px 5000px;
            }
        }
        @-ms-keyframes move-twink-back {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -10000px 5000px;
            }
        }

        @keyframes move-clouds-back {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 10000px 0;
            }
        }
        @-webkit-keyframes move-clouds-back {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 10000px 0;
            }
        }
        @-moz-keyframes move-clouds-back {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 10000px 0;
            }
        }
        @-ms-keyframes move-clouds-back {
            from {
                background-position: 0;
            }
            to {
                background-position: 10000px 0;
            }
        }

        .stars,
        .twinkling {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 0;
        }

    }
}
