@import 
'_scroll-bar.scss',
'_navigation.scss',
'_bodyColors.scss',
'_button.scss',
'_loader.scss',
'_menu.scss',
'_a.scss',
'_b.scss',
'_c.scss',
'_d.scss',
'_e.scss',
'_f.scss';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: handwrite;
  src: url("police/Darkwoman.otf") format("opentype");
}


main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

body {
  margin: 0;
}

/*  BALISE SECTION PREMIER CONTENANT */
.ink-a,
.ink-b,
.ink-c,
.ink-e,
.ink-d,
.ink-e,
.ink-f {
  height: 100vh;
  width: 100vw;
  z-index: 20;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  scroll-snap-align: start;
}

/*  FIN BALISE SECTION PREMIER CONTENANT */

/*  GSAP ACTIF DEUXIEME CONTENANT */
.ink-a-js,
.ink-b-js,
.ink-c-js,
.ink-e-js,
.ink-d-js,
.ink-e-js,
.ink-f-js {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/*  FIN GSAP ACTIF DEUXIEME CONTENANT */



/* INDICATEUR DU SCROLL EN HAUT DE L'ECRAN */
.scroll-indicator {
  position: fixed;
  left: 0;
  bottom: -1px;
  right: 0;
  height: 10px;
  background: #1f1f1f;
  z-index: 10;

  &__line {
    height: 100%;
    width: 0;
    background: #068fe9;
    ;
    transition: width 2s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

/* FIN INDICATEUR DU SCROLL EN HAUT DE L'ECRAN */








        /* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}


@keyframes move-stars-back {
  from {background-position:0 0;}
  to {background-position:5000px 0px ;}
}
@-webkit-keyframes move-stars-back {
  from {background-position:0 0;}
  to {background-position:5000px 0px ;}
}
@-moz-keyframes move-stars-back {
  from {background-position:0 0;}
  to {background-position:5000px 0px ;}
}
@-ms-keyframes move-stars-back {
  from {background-position:0 0;}
  to {background-position:5000px 0px ;}
}



