/* Set Scrollbar Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Set Scrollbar Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 0px;
}

/* Set Scrollbar Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(232, 155, 77, 0.4);
}

html {
  overflow-y: scroll;
  scrollbar-color: black #ffdb00;
  scrollbar-width: thin;
}

body {
  background: #000;
  -webkit-perspective: 340px;
          perspective: 340px;
}

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 1284px -367px white, 567px -285px #e8e8e8, -894px -86px white, 797px -461px #d9d9d9, 974px 245px #fcfcfc, -939px 55px whitesmoke, -1227px -85px #ededed, -195px 477px #c2c2c2, 1102px 426px #f2f2f2, 300px 129px whitesmoke, 891px -198px whitesmoke, -234px 71px #cfcfcf, -290px -52px #e3e3e3, -1188px -22px #d4d4d4, 1114px 163px #e6e6e6, -192px -288px #c4c4c4, -607px 156px #f2f2f2, -1033px -215px #f2f2f2, 789px 469px #cccccc, 1105px 19px whitesmoke, -908px 283px #d6d6d6, 1065px -299px white, -54px -321px #fcfcfc, 624px 56px #cccccc, 292px 132px #cccccc, 1354px -190px #cccccc, 1091px 315px whitesmoke, 36px 387px #f2f2f2, -397px -54px #d6d6d6, 1123px 248px #d1d1d1, -1221px 186px #d6d6d6, -479px 51px #e3e3e3, -186px 234px white, -893px -71px white, 1123px 226px #f7f7f7, -1204px -53px #dedede, 1147px 112px #f0f0f0, 1308px 412px #e8e8e8, 862px 29px #dedede, 98px -26px #d1d1d1, 868px -406px #ebebeb, -425px -333px #fafafa, -1194px -454px #c2c2c2, -794px -465px #d4d4d4, 1462px 197px #e0e0e0, -1400px -377px #c9c9c9, 1202px 453px #f7f7f7, 911px -459px whitesmoke, -1050px 398px #c4c4c4, 1061px 278px #ededed, 242px -375px #cccccc, -1201px 7px #e3e3e3, 833px -164px #d4d4d4, -408px 156px #e0e0e0, -531px 353px #e8e8e8, 168px -2px #fafafa, 1080px 20px #c7c7c7, -189px 80px #fcfcfc, 1152px 205px #f2f2f2, -880px 201px #d1d1d1, -301px 164px #e0e0e0, -1050px 462px #dedede, -1044px -82px #d6d6d6, 939px 355px #dbdbdb, 1477px -479px #d4d4d4, -545px 411px #e6e6e6, 258px -477px #d1d1d1, 945px 257px #cfcfcf, -787px 223px white, -1318px 374px white, -1466px -207px #cfcfcf, 609px -437px #f7f7f7, 227px -324px #d1d1d1, 469px 153px #fafafa, 104px -23px #c9c9c9, 1284px 293px #d4d4d4, 1495px -460px #ededed, -706px 182px #dedede, -229px 322px #d1d1d1, 912px -147px #d9d9d9, -1276px -100px #fcfcfc, 1305px 309px whitesmoke, 1193px 52px #d4d4d4, -1239px -288px #d1d1d1, 200px -272px #c7c7c7, -903px -30px #cccccc, 1174px 455px #f7f7f7, -1035px -377px whitesmoke, -1198px 17px #d9d9d9, -1485px -471px #c7c7c7, -344px 437px #fafafa, -494px 141px #c9c9c9, -900px -256px #cfcfcf, 1366px 339px whitesmoke, -771px -370px #fafafa, 69px 285px #c7c7c7, 603px -6px whitesmoke, -24px 404px whitesmoke, -498px 2px #dedede, 1446px -133px #f0f0f0, 1039px -439px #d9d9d9, 811px -417px #f0f0f0, 100px -188px #d4d4d4, -977px 434px #f7f7f7, 881px -407px #fcfcfc, 452px -235px #dbdbdb, -1051px -353px #cccccc, -1220px 80px #c7c7c7, 413px 129px #fafafa, 812px 309px whitesmoke, 1256px 96px #c4c4c4, -1046px -359px #e3e3e3, 553px -224px #c9c9c9, -733px 383px #c9c9c9, 534px -13px #f7f7f7, 959px 147px #c2c2c2, -965px 289px #e0e0e0, 158px -9px #c9c9c9, -465px -267px #c7c7c7, 1102px -349px whitesmoke, 1435px -226px #ebebeb, -1089px 206px #c4c4c4, 62px 196px #c7c7c7, -578px 451px #f0f0f0, 1407px 415px #dbdbdb, -360px 422px #fcfcfc, -861px 332px #c2c2c2, -732px -32px #fcfcfc, -1213px 13px #fcfcfc, -798px -204px #dbdbdb, 537px -77px #e3e3e3, 1321px -162px #cfcfcf, 549px 331px #d9d9d9, 361px -44px #c9c9c9, 259px -204px #c4c4c4, -819px -298px #dbdbdb, 358px -125px #d1d1d1, -1131px -162px #f0f0f0, 635px -366px #c2c2c2, -1337px -21px #e3e3e3, -190px 395px white, -1219px -104px #f7f7f7, -1107px 11px #d9d9d9, 1389px 68px #c4c4c4, -1391px 24px #c4c4c4, 1038px 457px #e0e0e0, 229px 331px #cccccc, 560px -478px #c4c4c4, -187px -475px #c2c2c2, -1165px -198px #c7c7c7, 775px 66px whitesmoke, 126px -393px #c7c7c7, 8px -357px #fcfcfc, 268px 209px white, 565px 349px #f2f2f2, 1213px -190px #d4d4d4, 1212px -110px #d1d1d1, 1439px -34px #fcfcfc, -1428px 451px #fcfcfc, -1405px -55px #e8e8e8, 855px -108px #e3e3e3, -1076px 405px #fafafa, -180px -54px #d4d4d4, 736px 417px #e8e8e8, -406px 21px #f7f7f7, -137px -121px #cfcfcf, -138px 193px #f7f7f7, -612px 358px #fafafa, 766px -383px #dedede, 607px -362px #ebebeb, -1309px 77px #fafafa, 1393px 398px #f2f2f2, -818px 56px #f7f7f7, 1198px -23px #ebebeb, -383px 1px #f2f2f2, 70px 178px #ededed, -452px -148px whitesmoke, -1054px 14px #fafafa, -841px -130px #cfcfcf, -191px 331px #fcfcfc, 1066px -409px #ebebeb, -5px 26px whitesmoke, 1067px -102px #e3e3e3, 484px -128px #e6e6e6, -868px -424px #e3e3e3, -595px -147px #fcfcfc, -1356px -361px #dbdbdb, 1304px -438px white, 1382px -154px #c4c4c4, 444px 391px #c2c2c2, -213px 241px #fcfcfc, 407px -461px #d9d9d9, -607px 340px #ededed, -1482px -427px #f2f2f2, -782px 86px #c9c9c9, -1288px -57px white, -761px -4px #f0f0f0, -1401px -335px #e8e8e8, 718px -471px #e6e6e6, 1400px -323px #e8e8e8, 1222px -86px #e0e0e0, -621px -301px #d9d9d9, 1248px 99px #e0e0e0, -1164px 327px #e0e0e0, 1294px 275px #dedede, 123px 297px #fafafa, -1059px 407px #ebebeb, 1361px -74px #e3e3e3, 943px 110px #d1d1d1, -1397px 72px #f2f2f2, -1113px 305px #c2c2c2, 353px 16px #cfcfcf, -586px -103px #f0f0f0, 432px 476px #e3e3e3, -725px -135px #fcfcfc, 436px 401px #ebebeb, -1377px -152px #d9d9d9, 321px -291px #ededed, 510px -394px #ebebeb, 87px -82px #c9c9c9, 1250px 332px #f0f0f0, 1102px -253px #fafafa, -133px -227px #ebebeb, 227px 106px #e3e3e3, 1154px 417px white, 1312px -173px #f2f2f2, 473px -281px #d4d4d4, 592px 70px #fcfcfc, 982px 199px #fafafa, -758px -398px #cfcfcf, -1356px -259px whitesmoke, 174px -33px #ededed, -242px 151px #c9c9c9, -983px -31px #e3e3e3, 1465px -283px white, 302px -413px #d9d9d9, 986px 342px #d4d4d4, 711px -195px #d1d1d1, -134px -189px #fcfcfc, 1226px 265px #c9c9c9, 521px -184px #c7c7c7, -665px -65px #c7c7c7, -356px -49px #c2c2c2, 7px 343px #e3e3e3, 1127px 176px #fcfcfc, 193px 133px #ededed, -888px 420px #e6e6e6, -617px 130px #c7c7c7, 678px 105px #d1d1d1, 256px -425px whitesmoke, 1388px -381px #c2c2c2, 195px -36px #dedede, -771px 427px #c7c7c7, -549px -424px #f7f7f7, -866px -298px #d6d6d6, 396px 202px #c4c4c4, 342px 168px #c2c2c2, -129px -308px #cccccc, 569px -479px #d6d6d6, 1475px 369px #dedede, 729px -283px #dbdbdb, -1363px -395px #d1d1d1, -774px -40px #e6e6e6, 1167px 267px #c4c4c4, -611px 332px #c7c7c7, -336px 299px #c7c7c7, 296px -469px #c2c2c2, -1279px 82px #dbdbdb, 1168px -200px #c9c9c9, -17px -207px #ededed, 1396px 376px #c2c2c2, 477px -60px whitesmoke, -608px 272px #c4c4c4, 914px -355px #e8e8e8, -1281px 471px white, 1079px 146px #ebebeb, -1406px -75px #fafafa, 856px -21px #cccccc, -1461px 318px #dbdbdb, -661px -252px #d6d6d6, -1217px -389px #c4c4c4, -622px -109px #d9d9d9, 1433px 330px #dbdbdb, 15px -398px #e0e0e0, -465px -458px #cfcfcf, 438px -220px #f0f0f0, -1072px -403px #e3e3e3, 78px -249px #c2c2c2, 1375px -90px #c2c2c2, -1323px -246px #ebebeb, -198px -90px #f0f0f0, 269px 148px #d1d1d1, -1213px -1px #dedede, 1424px -391px whitesmoke, 669px -371px #e3e3e3, -802px 178px #d4d4d4, 367px -122px #c2c2c2, -842px 76px #e3e3e3, 311px -409px #e8e8e8, 206px 477px #e6e6e6, -1398px 321px #cccccc, 115px -273px #d9d9d9, 794px 22px #f7f7f7, -606px -94px #fcfcfc, -1109px -318px #e3e3e3, -312px -207px #ebebeb, 1234px -211px #f0f0f0, 321px 309px #c4c4c4, 166px 211px #ededed, 1041px 80px #f0f0f0, -657px -404px #c7c7c7, -1108px -221px #ededed, -621px -128px #dedede, -1260px -35px #dbdbdb, 808px -473px #e6e6e6, -44px -95px #dbdbdb, -1427px -63px #e0e0e0, 207px 414px #ebebeb, 1439px 112px #fafafa, 285px 4px #e3e3e3, 1375px -221px #e8e8e8, -1173px 159px #c9c9c9, 1062px -17px #d4d4d4, -1477px 113px #f2f2f2, -510px -385px #c9c9c9, 916px 269px #f0f0f0, 772px -464px #dbdbdb, -549px 453px #d9d9d9, 859px -466px #c9c9c9, -365px -191px #d9d9d9, -731px -15px #f2f2f2, -134px -368px white, 50px -25px white, 582px -117px #cccccc, -649px -291px #c7c7c7, -1013px 217px #f7f7f7, 879px -330px #f2f2f2, 521px -44px #d9d9d9, 967px -468px #c9c9c9, -1322px 308px #e3e3e3, 176px -150px #cfcfcf, -339px 354px #e0e0e0, -1095px -357px #fcfcfc, -3px 208px white, -15px -158px #d9d9d9, 256px 192px #f7f7f7, 567px 366px #cfcfcf, -603px -286px #c2c2c2, -353px 402px #c9c9c9, -296px 40px #d4d4d4, -1312px -459px #e6e6e6;
          box-shadow: 1284px -367px white, 567px -285px #e8e8e8, -894px -86px white, 797px -461px #d9d9d9, 974px 245px #fcfcfc, -939px 55px whitesmoke, -1227px -85px #ededed, -195px 477px #c2c2c2, 1102px 426px #f2f2f2, 300px 129px whitesmoke, 891px -198px whitesmoke, -234px 71px #cfcfcf, -290px -52px #e3e3e3, -1188px -22px #d4d4d4, 1114px 163px #e6e6e6, -192px -288px #c4c4c4, -607px 156px #f2f2f2, -1033px -215px #f2f2f2, 789px 469px #cccccc, 1105px 19px whitesmoke, -908px 283px #d6d6d6, 1065px -299px white, -54px -321px #fcfcfc, 624px 56px #cccccc, 292px 132px #cccccc, 1354px -190px #cccccc, 1091px 315px whitesmoke, 36px 387px #f2f2f2, -397px -54px #d6d6d6, 1123px 248px #d1d1d1, -1221px 186px #d6d6d6, -479px 51px #e3e3e3, -186px 234px white, -893px -71px white, 1123px 226px #f7f7f7, -1204px -53px #dedede, 1147px 112px #f0f0f0, 1308px 412px #e8e8e8, 862px 29px #dedede, 98px -26px #d1d1d1, 868px -406px #ebebeb, -425px -333px #fafafa, -1194px -454px #c2c2c2, -794px -465px #d4d4d4, 1462px 197px #e0e0e0, -1400px -377px #c9c9c9, 1202px 453px #f7f7f7, 911px -459px whitesmoke, -1050px 398px #c4c4c4, 1061px 278px #ededed, 242px -375px #cccccc, -1201px 7px #e3e3e3, 833px -164px #d4d4d4, -408px 156px #e0e0e0, -531px 353px #e8e8e8, 168px -2px #fafafa, 1080px 20px #c7c7c7, -189px 80px #fcfcfc, 1152px 205px #f2f2f2, -880px 201px #d1d1d1, -301px 164px #e0e0e0, -1050px 462px #dedede, -1044px -82px #d6d6d6, 939px 355px #dbdbdb, 1477px -479px #d4d4d4, -545px 411px #e6e6e6, 258px -477px #d1d1d1, 945px 257px #cfcfcf, -787px 223px white, -1318px 374px white, -1466px -207px #cfcfcf, 609px -437px #f7f7f7, 227px -324px #d1d1d1, 469px 153px #fafafa, 104px -23px #c9c9c9, 1284px 293px #d4d4d4, 1495px -460px #ededed, -706px 182px #dedede, -229px 322px #d1d1d1, 912px -147px #d9d9d9, -1276px -100px #fcfcfc, 1305px 309px whitesmoke, 1193px 52px #d4d4d4, -1239px -288px #d1d1d1, 200px -272px #c7c7c7, -903px -30px #cccccc, 1174px 455px #f7f7f7, -1035px -377px whitesmoke, -1198px 17px #d9d9d9, -1485px -471px #c7c7c7, -344px 437px #fafafa, -494px 141px #c9c9c9, -900px -256px #cfcfcf, 1366px 339px whitesmoke, -771px -370px #fafafa, 69px 285px #c7c7c7, 603px -6px whitesmoke, -24px 404px whitesmoke, -498px 2px #dedede, 1446px -133px #f0f0f0, 1039px -439px #d9d9d9, 811px -417px #f0f0f0, 100px -188px #d4d4d4, -977px 434px #f7f7f7, 881px -407px #fcfcfc, 452px -235px #dbdbdb, -1051px -353px #cccccc, -1220px 80px #c7c7c7, 413px 129px #fafafa, 812px 309px whitesmoke, 1256px 96px #c4c4c4, -1046px -359px #e3e3e3, 553px -224px #c9c9c9, -733px 383px #c9c9c9, 534px -13px #f7f7f7, 959px 147px #c2c2c2, -965px 289px #e0e0e0, 158px -9px #c9c9c9, -465px -267px #c7c7c7, 1102px -349px whitesmoke, 1435px -226px #ebebeb, -1089px 206px #c4c4c4, 62px 196px #c7c7c7, -578px 451px #f0f0f0, 1407px 415px #dbdbdb, -360px 422px #fcfcfc, -861px 332px #c2c2c2, -732px -32px #fcfcfc, -1213px 13px #fcfcfc, -798px -204px #dbdbdb, 537px -77px #e3e3e3, 1321px -162px #cfcfcf, 549px 331px #d9d9d9, 361px -44px #c9c9c9, 259px -204px #c4c4c4, -819px -298px #dbdbdb, 358px -125px #d1d1d1, -1131px -162px #f0f0f0, 635px -366px #c2c2c2, -1337px -21px #e3e3e3, -190px 395px white, -1219px -104px #f7f7f7, -1107px 11px #d9d9d9, 1389px 68px #c4c4c4, -1391px 24px #c4c4c4, 1038px 457px #e0e0e0, 229px 331px #cccccc, 560px -478px #c4c4c4, -187px -475px #c2c2c2, -1165px -198px #c7c7c7, 775px 66px whitesmoke, 126px -393px #c7c7c7, 8px -357px #fcfcfc, 268px 209px white, 565px 349px #f2f2f2, 1213px -190px #d4d4d4, 1212px -110px #d1d1d1, 1439px -34px #fcfcfc, -1428px 451px #fcfcfc, -1405px -55px #e8e8e8, 855px -108px #e3e3e3, -1076px 405px #fafafa, -180px -54px #d4d4d4, 736px 417px #e8e8e8, -406px 21px #f7f7f7, -137px -121px #cfcfcf, -138px 193px #f7f7f7, -612px 358px #fafafa, 766px -383px #dedede, 607px -362px #ebebeb, -1309px 77px #fafafa, 1393px 398px #f2f2f2, -818px 56px #f7f7f7, 1198px -23px #ebebeb, -383px 1px #f2f2f2, 70px 178px #ededed, -452px -148px whitesmoke, -1054px 14px #fafafa, -841px -130px #cfcfcf, -191px 331px #fcfcfc, 1066px -409px #ebebeb, -5px 26px whitesmoke, 1067px -102px #e3e3e3, 484px -128px #e6e6e6, -868px -424px #e3e3e3, -595px -147px #fcfcfc, -1356px -361px #dbdbdb, 1304px -438px white, 1382px -154px #c4c4c4, 444px 391px #c2c2c2, -213px 241px #fcfcfc, 407px -461px #d9d9d9, -607px 340px #ededed, -1482px -427px #f2f2f2, -782px 86px #c9c9c9, -1288px -57px white, -761px -4px #f0f0f0, -1401px -335px #e8e8e8, 718px -471px #e6e6e6, 1400px -323px #e8e8e8, 1222px -86px #e0e0e0, -621px -301px #d9d9d9, 1248px 99px #e0e0e0, -1164px 327px #e0e0e0, 1294px 275px #dedede, 123px 297px #fafafa, -1059px 407px #ebebeb, 1361px -74px #e3e3e3, 943px 110px #d1d1d1, -1397px 72px #f2f2f2, -1113px 305px #c2c2c2, 353px 16px #cfcfcf, -586px -103px #f0f0f0, 432px 476px #e3e3e3, -725px -135px #fcfcfc, 436px 401px #ebebeb, -1377px -152px #d9d9d9, 321px -291px #ededed, 510px -394px #ebebeb, 87px -82px #c9c9c9, 1250px 332px #f0f0f0, 1102px -253px #fafafa, -133px -227px #ebebeb, 227px 106px #e3e3e3, 1154px 417px white, 1312px -173px #f2f2f2, 473px -281px #d4d4d4, 592px 70px #fcfcfc, 982px 199px #fafafa, -758px -398px #cfcfcf, -1356px -259px whitesmoke, 174px -33px #ededed, -242px 151px #c9c9c9, -983px -31px #e3e3e3, 1465px -283px white, 302px -413px #d9d9d9, 986px 342px #d4d4d4, 711px -195px #d1d1d1, -134px -189px #fcfcfc, 1226px 265px #c9c9c9, 521px -184px #c7c7c7, -665px -65px #c7c7c7, -356px -49px #c2c2c2, 7px 343px #e3e3e3, 1127px 176px #fcfcfc, 193px 133px #ededed, -888px 420px #e6e6e6, -617px 130px #c7c7c7, 678px 105px #d1d1d1, 256px -425px whitesmoke, 1388px -381px #c2c2c2, 195px -36px #dedede, -771px 427px #c7c7c7, -549px -424px #f7f7f7, -866px -298px #d6d6d6, 396px 202px #c4c4c4, 342px 168px #c2c2c2, -129px -308px #cccccc, 569px -479px #d6d6d6, 1475px 369px #dedede, 729px -283px #dbdbdb, -1363px -395px #d1d1d1, -774px -40px #e6e6e6, 1167px 267px #c4c4c4, -611px 332px #c7c7c7, -336px 299px #c7c7c7, 296px -469px #c2c2c2, -1279px 82px #dbdbdb, 1168px -200px #c9c9c9, -17px -207px #ededed, 1396px 376px #c2c2c2, 477px -60px whitesmoke, -608px 272px #c4c4c4, 914px -355px #e8e8e8, -1281px 471px white, 1079px 146px #ebebeb, -1406px -75px #fafafa, 856px -21px #cccccc, -1461px 318px #dbdbdb, -661px -252px #d6d6d6, -1217px -389px #c4c4c4, -622px -109px #d9d9d9, 1433px 330px #dbdbdb, 15px -398px #e0e0e0, -465px -458px #cfcfcf, 438px -220px #f0f0f0, -1072px -403px #e3e3e3, 78px -249px #c2c2c2, 1375px -90px #c2c2c2, -1323px -246px #ebebeb, -198px -90px #f0f0f0, 269px 148px #d1d1d1, -1213px -1px #dedede, 1424px -391px whitesmoke, 669px -371px #e3e3e3, -802px 178px #d4d4d4, 367px -122px #c2c2c2, -842px 76px #e3e3e3, 311px -409px #e8e8e8, 206px 477px #e6e6e6, -1398px 321px #cccccc, 115px -273px #d9d9d9, 794px 22px #f7f7f7, -606px -94px #fcfcfc, -1109px -318px #e3e3e3, -312px -207px #ebebeb, 1234px -211px #f0f0f0, 321px 309px #c4c4c4, 166px 211px #ededed, 1041px 80px #f0f0f0, -657px -404px #c7c7c7, -1108px -221px #ededed, -621px -128px #dedede, -1260px -35px #dbdbdb, 808px -473px #e6e6e6, -44px -95px #dbdbdb, -1427px -63px #e0e0e0, 207px 414px #ebebeb, 1439px 112px #fafafa, 285px 4px #e3e3e3, 1375px -221px #e8e8e8, -1173px 159px #c9c9c9, 1062px -17px #d4d4d4, -1477px 113px #f2f2f2, -510px -385px #c9c9c9, 916px 269px #f0f0f0, 772px -464px #dbdbdb, -549px 453px #d9d9d9, 859px -466px #c9c9c9, -365px -191px #d9d9d9, -731px -15px #f2f2f2, -134px -368px white, 50px -25px white, 582px -117px #cccccc, -649px -291px #c7c7c7, -1013px 217px #f7f7f7, 879px -330px #f2f2f2, 521px -44px #d9d9d9, 967px -468px #c9c9c9, -1322px 308px #e3e3e3, 176px -150px #cfcfcf, -339px 354px #e0e0e0, -1095px -357px #fcfcfc, -3px 208px white, -15px -158px #d9d9d9, 256px 192px #f7f7f7, 567px 366px #cfcfcf, -603px -286px #c2c2c2, -353px 402px #c9c9c9, -296px 40px #d4d4d4, -1312px -459px #e6e6e6;
  -webkit-animation: fly 3s linear infinite;
          animation: fly 3s linear infinite;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.stars:before, .stars:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.stars:before {
  -webkit-transform: translateZ(-300px);
          transform: translateZ(-300px);
  -webkit-animation: fade1 3s linear infinite;
          animation: fade1 3s linear infinite;
}

.stars:after {
  -webkit-transform: translateZ(-600px);
          transform: translateZ(-600px);
  -webkit-animation: fade2 3s linear infinite;
          animation: fade2 3s linear infinite;
}

@-webkit-keyframes fly {
  from {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
  }
  to {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
  }
}

@keyframes fly {
  from {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
  }
  to {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
  }
}

@-webkit-keyframes fade1 {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade1 {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}

@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}

.ink-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 100;
  bottom: 8px;
}

.ink-navigation .ink-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1f1f1f;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 16px;
  list-style: none;
  padding: 0;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  margin: 0;
  top: 0;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-bars {
  color: #068fe9;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-bars .fa-bars {
  padding: 0px 45px;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-bars:hover {
  color: yellow;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-link {
  color: #068fe9;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-link .fa-bars {
  padding: 0px 45px;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-link:hover {
  color: #74b8e6;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-menu {
  right: 40px;
  position: absolute;
  color: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-menu:hover {
  color: yellow;
}

.ink-navigation .ink-navigation-list .ink-navigation-list-item .ink-navigation-list-item-name {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  opacity: 0;
  display: none;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0px 15px;
}

@media screen and (max-width: 500px) {
  .ink-navigation-list-item-button {
    display: none !important;
  }
}

.ink-navigation-list-item-link.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.jnli-right {
  position: absolute !important;
  -webkit-transform: translate(70px, 0px) !important;
          transform: translate(70px, 0px) !important;
  z-index: 9999;
}

.jnli-left {
  position: absolute !important;
  -webkit-transform: translate(-70px, 0px) !important;
          transform: translate(-70px, 0px) !important;
  z-index: 9999;
}

.body-ink {
  background-color: #070a10;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  margin: 0;
}

.body-ink .twinkling {
  opacity: 0;
  z-index: 0;
}

.body-ink.b {
  background-color: #93a7dc !important;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: none;
}

.body-ink.c {
  background-color: #d8d8d8 !important;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background: url("http://www.script-tutorials.com/demos/360/images/stars.png") repeat top center;
}

.body-ink.d {
  background-color: black !important;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.body-ink.d .twinkling {
  opacity: 1;
  -webkit-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.body-ink.e {
  background-color: black !important;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.body-ink.f {
  background-color: #111111 !important;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.ink-navigation-list-item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5vh;
  line-height: 5vh;
  font-family: 'Lato', sans-serif !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  font-family: serif;
  position: relative;
  text-align: center;
  color: #068fe9;
  border: 1px solid #068fe9;
  border-radius: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.ink-navigation-list-item-button:hover {
  color: white;
  -webkit-box-shadow: 0 0 30px 0 rgba(236, 232, 0, 0.5);
          box-shadow: 0 0 30px 0 rgba(236, 232, 0, 0.5);
  background-color: #c7ae00;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.ink-navigation-list-item-button:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}

.ink-navigation-list-item-button:active {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}

.ink-navigation-list-item-button:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  -webkit-box-shadow: 0 0 15px 3px white;
          box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  font-family: 'Raleway', sans-serif;
  background: #161616;
  z-index: 999;
}

.loader p {
  color: white;
  text-align: center;
  top: 60vh;
  position: absolute;
  font-size: 3vw;
  left: 50vw;
  font-family: "Raleway";
}

.loader-4 {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Loader 4 */
.loader-4-img {
  width: 45vw;
  -webkit-animation: loader-4-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-4-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes loader-4-1 {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@keyframes loader-4-1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 580px) {
  .loader-4-img {
    width: 75vw;
  }
}

.ink-navigation {
  /*
 * Just a quick hamburger
 */
  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  /*
 * But let's hide the middle one.
 */
  /*
 * Ohyeah and the last one should go the other direction
 */
  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
}

.ink-navigation .menuToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 5%;
  height: 33px;
  width: 33px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.ink-navigation .menuToggle input {
  display: block;
  width: 33px;
  height: 33px;
  margin: 0;
  position: absolute;
  z-index: 99999;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  -webkit-touch-callout: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.ink-navigation .menuToggle span {
  display: block;
  width: 33px;
  height: 33px;
  margin-bottom: 5px;
  position: relative;
  z-index: 999;
  background: white;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.ink-navigation .menuToggle span:a-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.ink-navigation .menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.ink-navigation .menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #e10f0f;
}

.ink-navigation .menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.ink-navigation .menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.ink-navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  width: 100vw;
  background: #1b1b1b00;
  -webkit-font-smoothing: antialiased;
  top: 0vh;
  padding: 0;
  height: 0vh;
  -webkit-transform: translate(0px, -100vh);
          transform: translate(0px, -100vh);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.ink-navigation .menu li {
  height: 12vh;
  width: 11vw;
  list-style: none;
  margin: 10px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-bottom: 8px solid #068fe9;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ink-navigation .menu li:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-bottom: 20vh solid #000000;
  width: 15vw;
}

.ink-navigation .menu li:hover a {
  font-size: 5vw;
  font-weight: 100;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  color: white;
}

.ink-navigation .menu li a {
  text-decoration: none;
  color: #068fe9;
  font-size: large;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-transform: uppercase;
  position: absolute;
}

.ink-navigation .menu-list.membre {
  height: 12vh;
  width: 90%;
}

.ink-navigation .menu.expanded {
  background: #1b1b1be8;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
  height: 100vh;
  -webkit-transform: translate(0px, 0vh);
          transform: translate(0px, 0vh);
  z-index: 9999999999;
  position: absolute;
  top: -93vh;
}

.menu-board {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-board {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 30vh !important;
    width: 91vw !important;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 30vh;
  }
  .menu-board .menu-board-item {
    height: 150px !important;
    color: #068fe9 !important;
    margin: 20px !important;
    text-align: center;
    border: 1px solid #1d4353;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .menu-board .menu-board-item:hover {
    border: 1px solid #3a889e;
    cursor: pointer;
  }
  .menu-board .menu-board-item:hover img {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  .menu-board .menu-board-item:hover h2 {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  .menu-board .menu-board-item:hover p {
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
  .menu-board .menu-board-item img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    width: 100px;
  }
  .menu-board .menu-board-item h2 {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    padding: 15px !important;
    margin: 0 !important;
    text-align: center;
  }
  .menu-board .menu-board-item p {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: justify;
    width: 80%;
    margin: auto;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@media screen and (max-width: 768px) {
  .ink-navigation .menu li {
    height: 15vh !important;
  }
}

.ink-a .ink-a-js {
  top: 0;
  z-index: 0;
}

.ink-a .ink-a-js .ink-a-js-lefttop {
  position: absolute;
  text-shadow: -1px 5px 3px black;
  font-size: 20px;
  width: 200px;
  left: 20px;
  top: 20px;
  margin: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
}

.ink-a .ink-a-js .ink-a-js-lefttop::after {
  content: "Multidimensional composer";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: 20px;
  top: 189px;
  width: 350px;
  font-weight: 100;
}

.ink-a .ink-a-js .ink-a-js-leftbottom {
  position: absolute;
  text-shadow: -1px 5px 3px black;
  font-size: 20px;
  left: 20px;
  bottom: 20px;
  margin: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
}

.ink-a .ink-a-js .ink-a-js-leftbottom::after {
  content: "2021";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: -17px;
  top: 80px;
  width: 270px;
  font-weight: 100;
}

.ink-a .ink-a-js .ink-a-js-text {
  position: absolute;
  top: 40px;
}

.ink-a .ink-a-js .ink-a-js-text .ink-a-js-text-title {
  height: 9.5vw;
  color: white;
  text-shadow: -1px 5px 3px black;
  font-size: 9.5vw;
  font-weight: 100;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Raleway",sans-serif;
  text-shadow: -1px 4px 5px black;
}

.ink-a .ink-a-js .ink-a-js-text .ink-a-js-text-subtitle {
  position: absolute;
  text-shadow: -1px 5px 3px black;
  color: #fff;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: "Raleway",sans-serif;
  top: 150px;
  right: -165px;
  width: 300px;
}

.ink-a .ink-a-js .ink-a-js-text .ink-a-js-text-slogan {
  position: absolute;
  text-shadow: -1px 5px 3px black;
  color: #fff;
  right: 0;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  font-family: "Raleway",sans-serif;
  line-height: 13px;
  text-align: right;
  font-size: small;
}

.ink-a .ink-a-js .ink-a-js-img {
  width: 60vh;
  position: absolute;
  bottom: 0;
}

.ink-a .ink-a-js .ink-a-js-link {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-transform: translate(0px, 36vh);
          transform: translate(0px, 36vh);
  text-transform: uppercase;
  z-index: 5;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ink-a .ink-a-js .ink-a-js-link .ink-a-js-link-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 40px;
  font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
  text-shadow: -1px 5px 3px #00000080;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  z-index: 5;
  padding: 0;
  border: 2px solid #fff;
  padding: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.ink-a .ink-a-js .ink-a-js-link .ink-a-js-link-a:hover {
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: black;
  font-size: 25px;
  border: 6px solid black;
}

.ink-a svg {
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=5);
}

.ink-a path {
  fill: url(#logo-gradient);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.ink-a path stop {
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.ink-b .ink-b-js {
  z-index: 4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ink-b .ink-b-js .ink-b-js-text {
  position: absolute;
  width: 300px;
  border: 5px solid white;
  padding: 10px;
  margin-top: -25px;
}

.ink-b .ink-b-js .ink-b-js-text h2 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 50px;
  color: white;
  font-weight: normal !important;
  border-bottom: 1px solid white;
  margin: 0;
}

.ink-b .ink-b-js .ink-b-js-text h2::after {
  content: "My Project";
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  right: -22%;
  top: 4.1%;
  letter-spacing: 3px;
}

.ink-b .ink-b-js .ink-b-js-text p {
  font-family: "handwrite";
  font-size: 28px;
  color: #fff;
  text-align: justify;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10;
  margin: 0;
  padding: 5px;
  line-height: 40px;
  margin-bottom: 35px;
}

.ink-b .ink-b-js .ink-b-js-text a {
  position: absolute;
  text-decoration: none;
  right: 2%;
  bottom: 2%;
  background: transparent;
  font-family: "Raleway";
  text-transform: uppercase;
  color: #e7eeff;
  border: none;
  border-bottom: 2px solid #e7eeff;
  border-left: 2px solid #e7eeff;
  padding: 5px;
  letter-spacing: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.ink-b .ink-b-js .ink-b-js-text a:hover {
  letter-spacing: 2px;
}

.ink-c .ink-c-js {
  z-index: 4;
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.ink-c .ink-c-js .ink-c-js-text {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  padding: 10px;
  margin-top: -25px;
  height: 526px;
}

.ink-c .ink-c-js .ink-c-js-text span {
  display: block;
  text-align: center;
}

.ink-c .ink-c-js .ink-c-js-text span:nth-child(1) {
  font-size: 220px;
  line-height: 110px;
}

.ink-c .ink-c-js .ink-c-js-text span:nth-child(2) {
  font-size: 86px;
}

.ink-c .ink-c-js .ink-c-js-text span:nth-child(3) {
  font-size: 740px;
  line-height: 130px;
}

.ink-c .ink-c-js .ink-c-js-text span:nth-child(4) {
  width: 100%;
  text-align: right;
  font-size: 30px;
  color: white;
}

.ink-c .ink-c-js .ink-c-js-text span:nth-child(5) {
  width: 100%;
  text-align: right;
  font-size: 30px;
  color: white;
}

.ink-c .ink-c-js .ink-c-js-text span:nth-child(6) {
  width: 100%;
  text-align: right;
  font-size: 30px;
  color: white;
}

.ink-c .ink-c-js .ink-c-js-text a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.ink-c .ink-c-js .ink-c-js-button {
  position: absolute;
  text-transform: uppercase;
  bottom: 15px;
  text-decoration: none;
  border: 2px solid black;
  padding: 10px;
  color: black;
  letter-spacing: 2px;
  -webkit-transition: letter-spacing .5s ease;
  transition: letter-spacing .5s ease;
  font-family: "Raleway",sans-serif;
}

.ink-c .ink-c-js .ink-c-js-button:hover {
  letter-spacing: 0px;
}

.ink-d {
  height: 100vh !important;
}

.ink-d .ink-d-js.d {
  -webkit-transform: scale(1) translate(0vw) !important;
          transform: scale(1) translate(0vw) !important;
  position: fixed;
  opacity: 1;
}

.ink-d .ink-d-js.dOut {
  position: fixed;
  -webkit-transform: translate(100%, -20%) !important;
          transform: translate(100%, -20%) !important;
}

.ink-d .ink-d-js {
  position: fixed;
  top: 0;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  color: white;
}

.ink-d .ink-d-js #myCanvasJupiter {
  position: absolute;
  -webkit-transform: translate3d(0px, -19px, 0px) rotate(180deg);
          transform: translate3d(0px, -19px, 0px) rotate(180deg);
  width: 350px;
  height: 350px;
}

.ink-d .ink-d-js .ink-d-js-text {
  text-align: justify;
  text-align-last: center;
  margin-bottom: 0;
}

.ink-d .ink-d-js .ink-d-js-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffce72;
  z-index: 10;
  width: 310px;
  height: 90vh;
}

.ink-d .ink-d-js .ink-d-js-item .ink-d-js-item-img {
  width: 73px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ink-d .ink-d-js .ink-d-js-item .ink-d-js-item-box {
  padding: 15px;
  -webkit-transform: translate3d(0px, -30px, 0px);
          transform: translate3d(0px, -30px, 0px);
}

.ink-d .ink-d-js .ink-d-js-item .ink-d-js-item-box .ink-d-js-item-box-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 74px;
  font-weight: 100;
  line-height: 40px;
}

.ink-d .ink-d-js .ink-d-js-item .ink-d-js-item-box .ink-d-js-item-box-text {
  width: 262px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  line-height: 30px;
  font-size: smaller;
}

.ink-d .ink-d-js .ink-d-js-item .ink-d-js-item-play {
  width: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.ink-d .ink-d-js .ink-d-js-link {
  font-size: 35px;
  position: absolute;
  -webkit-transform: translate3d(90px, -100px, 0px);
          transform: translate3d(90px, -100px, 0px);
  border: 2px solid #ffce72;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  z-index: 100;
}

.ink-d .ink-d-js svg {
  height: 30vh;
  /* position: absolute; */
  /* top: 0; */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ink-d .ink-d-js .depthmap,
.ink-d .ink-d-js .deep-depthmap {
  mix-blend-mode: soft-light;
}

.ink-d .ink-d-js .shadows {
  mix-blend-mode: multiply;
  opacity: .4;
}

.ink-d .ink-d-js .highlight {
  mix-blend-mode: screen;
}

.ink-d .ink-d-js .weather {
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.ink-d .ink-d-js .planet {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.ink-d .ink-d-js .planet image {
  -webkit-animation: rotation 150s linear infinite;
  animation: rotation 150s linear infinite;
  opacity: .9;
}

.ink-d .ink-d-js .planet .weather {
  -webkit-animation: rotation 70s linear infinite;
  animation: rotation 70s linear infinite;
  opacity: .5;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
            transform: translate(-1000px, 0);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
            transform: translate(-1000px, 0);
  }
}

@media screen and (max-width: 650px) {
  .ink-d-js-item-text {
    font-size: 12px;
  }
  .ink-d-js-item-title {
    font-size: 120px !important;
    line-height: 80px !important;
  }
}

@media screen and (max-width: 560px) {
  .ink-d-js-item-text {
    font-size: 11px;
  }
  .ink-d-js-item-title {
    font-size: 90px !important;
    line-height: 80px !important;
  }
}

.ink-e {
  height: 100vh !important;
}

.ink-e .ink-e-js {
  top: 0;
  position: fixed;
  z-index: 5;
  color: white;
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ink-e .ink-e-js .ink-e-js-text {
  text-align: justify;
  text-align-last: center;
  margin-bottom: 0;
}

.ink-e .ink-e-js .ink-e-js-item {
  border: 1px solid #db1d1d;
  padding: 20px;
  z-index: 10;
  width: 325px;
  height: 325px;
  -webkit-transform: translate3d(0px, -40px, 0px);
          transform: translate3d(0px, -40px, 0px);
}

.ink-e .ink-e-js .ink-e-js-item .ink-e-js-item-img {
  width: 73px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ink-e .ink-e-js .ink-e-js-item .ink-e-js-item-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 118px;
  font-weight: 100;
  line-height: 110px;
}

.ink-e .ink-e-js .ink-e-js-item .ink-e-js-item-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  line-height: 20px;
  text-align: justify;
  padding: 0px 0px;
  font-size: small;
  margin-bottom: 0;
}

.ink-e .ink-e-js .ink-e-js-item .ink-e-js-item-play {
  width: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.ink-e .ink-e-js svg {
  height: 27vh;
  /* position: absolute; */
  /* top: 0; */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ink-e .ink-e-js .depthmap,
.ink-e .ink-e-js .deep-depthmap {
  mix-blend-mode: soft-light;
}

.ink-e .ink-e-js .shadows {
  mix-blend-mode: multiply;
}

.ink-e .ink-e-js .highlight {
  mix-blend-mode: screen;
}

.ink-e .ink-e-js .weather {
  opacity: .2;
  mix-blend-mode: overlay;
}

.ink-e .ink-e-js .planet {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.ink-e .ink-e-js .planet image {
  -webkit-animation: rotation 200s linear infinite;
          animation: rotation 200s linear infinite;
}

.ink-e .ink-e-js .planet .weather {
  -webkit-animation: rotation 100s linear infinite;
          animation: rotation 100s linear infinite;
}

@keyframes rotation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
            transform: translate(-1000px, 0);
  }
}

.ink-f {
  z-index: 6;
  height: 100vh !important;
}

.ink-f .ink-f-js {
  top: 0;
  z-index: 2;
  position: fixed;
  background-color: coral;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: handwrite;
  src: url("police/Darkwoman.otf") format("opentype");
}

main {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

/*  BALISE SECTION PREMIER CONTENANT */
.ink-a,
.ink-b,
.ink-c,
.ink-e,
.ink-d,
.ink-e,
.ink-f {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

/*  FIN BALISE SECTION PREMIER CONTENANT */
/*  GSAP ACTIF DEUXIEME CONTENANT */
.ink-a-js,
.ink-b-js,
.ink-c-js,
.ink-e-js,
.ink-d-js,
.ink-e-js,
.ink-f-js {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*  FIN GSAP ACTIF DEUXIEME CONTENANT */
/* INDICATEUR DU SCROLL EN HAUT DE L'ECRAN */
.scroll-indicator {
  position: fixed;
  left: 0;
  bottom: -1px;
  right: 0;
  height: 10px;
  background: #1f1f1f;
  z-index: 10;
}

.scroll-indicator__line {
  height: 100%;
  width: 0;
  background: #068fe9;
  -webkit-transition: width 2s ease;
  transition: width 2s ease;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* FIN INDICATEUR DU SCROLL EN HAUT DE L'ECRAN */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.twinkling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
@keyframes move-stars-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 5000px 0px;
  }
}

@-webkit-keyframes move-stars-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 5000px 0px;
  }
}

body {
  background: url("http://www.script-tutorials.com/demos/360/images/stars.png") repeat top center;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  -webkit-animation: move-stars-back 800s linear infinite;
  animation: move-stars-back 800s linear infinite;
}

.linear-wipe {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #FFF), color-stop(40%, #ea00ff), color-stop(60%, #00e1ff), color-stop(92%, #FFF));
  background: linear-gradient(to right, #FFF 5%, #ea00ff 40%, #00e1ff 60%, #FFF 92%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
/*# sourceMappingURL=style.css.map */