@import 
'_scroll-bar.scss',
'_navigation.scss',
'_bodyColors.scss',
'_button.scss',
'_loader.scss',
'_menu.scss',
'_a.scss',
'_b.scss',
'_c.scss',
'_d.scss',
'_e.scss',
'_f.scss';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: handwrite;
  src: url("police/Darkwoman.otf") format("opentype");
}


main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  overflow: hidden;
}

/*  BALISE SECTION PREMIER CONTENANT */
.ink-a,
.ink-b,
.ink-c,
.ink-e,
.ink-d,
.ink-e,
.ink-f {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  scroll-snap-align: start;
}

/*  FIN BALISE SECTION PREMIER CONTENANT */

/*  GSAP ACTIF DEUXIEME CONTENANT */
.ink-a-js,
.ink-b-js,
.ink-c-js,
.ink-e-js,
.ink-d-js,
.ink-e-js,
.ink-f-js {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/*  FIN GSAP ACTIF DEUXIEME CONTENANT */



/* INDICATEUR DU SCROLL EN HAUT DE L'ECRAN */
.scroll-indicator {
  position: fixed;
  left: 0;
  bottom: -1px;
  right: 0;
  height: 10px;
  background: #1f1f1f;
  z-index: 10;

  &__line {
    height: 100%;
    width: 0;
    background: #068fe9;
    ;
    transition: width 2s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

/* FIN INDICATEUR DU SCROLL EN HAUT DE L'ECRAN */



@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}


.twinkling{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;

background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;

transition: all .1s ease;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}



        /* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */

@keyframes move-stars-back {
  from {background-position:0 0;}
  to {background-position:5000px 0px ;}
}
@-webkit-keyframes move-stars-back {
  from {background-position:0 0;}
  to {background-position:5000px 0px ;}
}
@-moz-keyframes move-stars-back {
  from {background-position:0 0;}
  to {background-position:5000px 0px ;}
}
@-ms-keyframes move-stars-back {
  from {background-position:0 0;}
  to {background-position:5000px 0px ;}
}


body {
  background: url("http://www.script-tutorials.com/demos/360/images/stars.png") repeat top center;
  z-index: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  -moz-animation:move-stars-back 800s linear infinite;
  -ms-animation:move-stars-back 800s linear infinite;
  -o-animation:move-stars-back 800s linear infinite;
  -webkit-animation:move-stars-back 800s linear infinite;
  animation:move-stars-back 800s linear infinite;
}

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right,
   #FFF 5%,
   #ea00ff 40%,
   #00e1ff 60%,
   #FFF 92%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}